@{
    ViewBag.Title = "Economic Game Administration";
}

<table class="table main-menu">
    <tr>
        <th>
            <h1>
                Economic Game
            </h1>
            <h4>
                Administration - Home
            </h4>
        </th>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="/Games" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;View Game Data</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="/GameSettings" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Edit Settings</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="/Questions" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Edit FAQ</a>
        </td>
    </tr>
</table>